:host {
  display: block;
  width: 100%;
  background: #673ab7;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 500px;
  max-width: 100%;
  padding: 8px 0;
  color: rgba(255, 255, 255, 0.87);
}
nav>a {
}
