<app-card-viewer title="基本信息">
  <div class="basic-info">
    <figure class="figure">
      <img src="assets/myphoto-little.jpg" alt="my photo">
    </figure>
    <div class="major-info" >
      <div class="info-item">
        <label>姓名：</label>
        <span>刘春磊</span>
      </div>
      <div class="info-item">
        <label>学历：</label>
        <span>本科2017届</span>
      </div>
      <div class="info-item">
        <label>学校：</label>
        <span>大连理工大学</span>
      </div>
      <div class="info-item">
        <label>职业：</label>
        <span>前端工程师</span>
      </div>
      <div class="info-item">
        <label>公司：</label>
        <span>腾讯大连无线研发中心</span>
      </div>
    </div>
  </div>
</app-card-viewer>
<app-card-viewer title="自我介绍">
  我在编程中找到了乐趣，当一个优秀的程序员就是我的目标。 逻辑清晰，善于思考，热爱编程。
熟练掌握前端三剑客 HTML、CSS、JavaScript 。熟悉 React、nodejs, 了解 Angular , 喜欢TypeScript 。
关心行业发展，对互联网行业非常关注及热爱。希望在三年内成为高级前端工程师。
</app-card-viewer>
<app-card-viewer title="工作经历">
  <div class="work-exp">
    <div class="company-name">腾讯无线大连研发中心</div>
    <div class="position-name">——前端开发工程师@工程效率部</div>
    <div class="work-time">2017-06 至今</div>
  </div>
  <div class="work-exp">
    <div class="company-name">腾讯无线大连研发中心</div>
    <div class="position-name">——前端开发实习生@工程效率部</div>
    <div class="work-time">2016-10 至 2017-05</div>
  </div>
</app-card-viewer>
<app-card-viewer title="教育背景">
  <div class="work-exp">
    <div class="company-name">大连理工大学</div>
    <div class="position-name">——环境工程@本科</div>
    <div class="work-time">2013-09 至 2017-06</div>
    <div class="work-content">
      大学以前成绩很好，高考成绩班级第一名。大学不喜欢自己的专业，转学前端。主要通过自学＋网易微专业。
    </div>
  </div>
</app-card-viewer>
<app-card-viewer title="项目经验">
  <div class="work-exp">
    <div class="company-name">多方案查看工具</div>
    <div class="work-content">
      针对地图的业务特性，使用 <em>React</em> + <em>mobx</em> 重构老 <em>jQuery</em>的项目
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">导航点管理与制作工具</div>
    <div class="work-content">
        使用 <em>Egg</em> + <em>React</em> + <em>redux-action</em> + <em>immutablejs</em>,
      实现内外网隔离，一套代码发布内网和外网， 内网包含管理模块与制作模块，外网只有制作模块；
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">路线标注工具</div>
    <div class="work-content">
        使用 <em>Egg</em> + <em>React</em> + <em>redux-action</em>,
      更多关注代码组织，性能优化
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">外包管理系统</div>
    <div class="work-content">
        项目技术 <em>Mysql</em> + <em>Node</em> + <em>express</em> + <em>ejs</em> + <em>jQuery</em>,
      我负责其中的一个纵向的业务模块，实现了从前到后到数据库的业务流程。
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">优测国际化</div>
    <!-- <div class="work-time">2017.06 至 2017.08</div> -->
    <div class="work-content">
      对传统的 <em>jQuery</em> 页面和 <em>React</em> 页面，采用了相应的方案，都进行了国际化。
    </div>
    <div class="work-content">
      项目地址
      <a target="_blank" href="http://utest.21kunpeng.com/">http://utest.21kunpeng.com/</a>
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">腾讯优测多机联动</div>
    <!-- <div class="work-time">2016.10 至 2017.01</div> -->
    <div class="work-content">
        主要负责腾讯优测云真机前端，实现了基于云真机的多机联动，还有放大镜功能。
      第一次写实际的项目，对 <em>JavaScript</em> 有了更深入的理解。
    </div>
    <div class="work-content">
      项目地址
      <a
        target="_blank"
        href="http://remote.utest.21kunpeng.com/deviceSearch?type=linkage">
        http://remote.utest.21kunpeng.com/deviceSearch?type=linkage
      </a>
    </div>
  </div>
</app-card-viewer>
<app-card-viewer title="联系方式">
  <div>
    E-mai: <a href="mailto:liuchunlei26@gmail.com">liuchunlei26@gmail.com</a>
  </div>
  <div>
    QQ/Wechat: <a href="javascript: void(0)">2632119760</a>
  </div>
  <div>
    TEL: <a href="javascript: void(0)">188 4082 6549</a>
  </div>
</app-card-viewer>
