<app-card-viewer title="自我介绍">
  我在编程中找到了乐趣，当一个优秀的程序员就是我的目标。 逻辑清晰，善于思考，热爱编程。
熟练掌握前端三剑客 HTML、CSS、JavaScript 。熟悉 React、nodejs, 了解 Angular , 喜欢TypeScript 。
关心行业发展，对互联网行业非常关注及热爱。希望在三年内成为高级前端工程师。
</app-card-viewer>
<app-card-viewer title="工作经历">
  <div class="work-exp">
    <div class="company-name">腾讯无线大连研发中心</div>
    <div class="position-name">——前端开发工程师@工程效率部</div>
    <div class="work-time">2017-06 至今</div>
    <div class="work-content">
      腾讯地图内部效率工具开发，一个人负责前端，至今开发了三个工具。参与腾讯优测国际化。
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">腾讯无线大连研发中心</div>
    <div class="position-name">——前端开发实习生@工程效率部</div>
    <div class="work-time">2016-10 至 2017-05</div>
    <div class="work-content">
      主要负责腾讯优测云真机前端，主要实现了多机联动，还有放大镜功能。
    </div>
  </div>
</app-card-viewer>
<app-card-viewer title="教育背景">
  <div class="work-exp">
    <div class="company-name">大连理工大学</div>
    <div class="position-name">——环境工程@本科</div>
    <div class="work-time">2013-09 至 2017-06</div>
    <div class="work-content">
      大学以前成绩很好，高考成绩班级第一名。大学不喜欢自己的专业，转学前端。主要通过自学＋网易微专业。
    </div>
  </div>
</app-card-viewer>
<app-card-viewer title="项目经验">
  <div class="work-exp">
    <div class="company-name">腾讯地图内部工具</div>
    <div class="work-time">2017-09 至今</div>
    <div class="work-content">
      一共做了三个工具，基于腾讯地图组件，使用 <em>Egg + React</em> 开发。主要工作在前端，
    前端使用了 <em>redux</em> 来管理状态，有一个项目使用了 <em>mobx</em> 。
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">优测国际化</div>
    <div class="work-time">2017.06 至 2017.08</div>
    <div class="work-content">
      传统 <em>jQuery</em> 页面和 <em>React</em> 页面，都进行了国际化
    </div>
  </div>
  <div class="work-exp">
    <div class="company-name">腾讯优测多机联动</div>
    <div class="work-time">2016.10 至 2017.01</div>
    <div class="work-content">
        实现了基于真机的多机联动，第一次写实际的项目，对 <em>JavaScript</em> 的执行，闭包等有了更实践的理解。
    </div>
  </div>
</app-card-viewer>
<app-card-viewer title="个人链接">
  <a target="_blank" href="https://rannuo.github.io/smartisan-contacts/">
    <h4>Angular 实现锤子科技联系人</h4>
  </a>
  <a target="_blank" href="https://rannuo.github.io/my-resume/">
    <h4>个人简历</h4>
  </a>
  <a target="_blank" href="https://rannuo.github.io/">
    <h4>个人博客</h4>
  </a>
</app-card-viewer>
