:host {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.main-wraper {
  display: flex;
  padding: 20px;
  border: 20px solid #666;
  max-width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 990px;
  max-width: 100%;
  min-height: 60vh;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 20px 1px rgba(0, 0, 0, .25);
  perspective: 3000px;
}
figure {
}
figure > img {
  display: inline-block;
  width: 200px;
}

.place-spacer {
  flex: 0 0 0%;
  height: 1px;
  margin-left: 80px;
}
.major-info {
  width: 400px;
  padding-left: 20px;
}
.info-item {
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 60px;
}

.info-item > label {
  flex-basis: 60px;
  font-size: 20px;
}
.info-item > span {
  flex: 1;
  font-size: 18px;
}
