main {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
}
figure {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate3d(-50%, -50%, 0);
}
figure > img {
  width: 200px;
  border-radius: 100%;
}
