:host {
  display: block;
  padding: 2px 0;
}
.wraper {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 5px;
  transition: box-shadow .5s;
}
.wraper:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
}
.title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 8px 20px;
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
}
.title-text {
  flex: 1 1 auto;
}
.body {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.15;
}
